<!--The content below is only a placeholder and can be replaced.-->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">{{pepe.nombre}}</a>
    <a class="dropdown-item" href="#">{{pepe.edad}}</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<div class="card container" style="width: 18rem;">
  <img src="https://www.adslzone.net/app/uploads/2019/04/borrar-fondo-imagen.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{pepe.nombre}}</h5>
    <p class="card-text">{{pepe.nombre}} tiene {{pepe.edad}} años buscar dirvertirce</p>
    <a href="#" class="btn btn-primary">Contactalo</a>
  </div>
</div>
